<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 id="slogan" class="display-5 fw-bolder">Drift Magazine</h1>
    <p id="manifesto">Drift Magazine was created to connect students at the <span class="fw-bold">University of Texas</span> with the greater outdoor community.</p>
    <p id="manifesto">We aim to explore subcultures, challenge viewpoints and highlight people.</p>
  </div>
</div>