{% extends '_templates/base.njk' %}

{% block page_title %}About Page{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3">
    <h1 class="text-center">Manifesto</h1>
    <p id="mani" class="text-center">We want to be champions of the useless, telling stories of strained backs, blistered palms and worn feet. We have dirt in our bones and we are not afraid to take risks because none of it belongs to us anyways. We are the result of outside forces, with little control over our direction. Our publication is one of spontaneity, yet is full of intentionality. We are here to give, not take. We yearn to foster powerful experiences in both wilderness and civilization. We tell stories about these experiences, weaving themes of life, purpose and nature throughout.</p>
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3">
    <h1 class="text-center">Why Drift?</h1>
    <p id="why-drift" class="text-center">Getting lost. We want to get lost in the wild, becoming a little part of it while we are out there. We carry the stories and memories made, but we always wonder what is around the next bend. We strive to leave and come back different because of our experience. We strive to come back raw, full of emotion and stories to tell. We love new adventures, but seek places and people worth returning to. We are humbled by mountain storms and excited by the sunshine on our skin. In the same way a boat drifts out into the sea, we want to drift out into the world. So, we’d love to stick around but we gotta go.</p>
  </div>
</div>
</div>
{% endblock %}