{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3">
    <h1 class="text-center">Bringing nature inside.</h1>
    <p class="text-center">Drift Magazine is an outdoor lifestyle publication at the University of Texas at Austin with a fervor for the outdoors. We strive to connect students with the environment and build a community of like-minded individuals.</p>
  </div>
</div>
</div>
{% endblock %}