{% extends '_templates/base.njk' %}

{% block page_title %}City of Austin{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3">
    <h1 class="text-center">Explore the City!</h1>
    <p class="text-center mb-3">Drift Magazine is determined to help you explore our beloved city. Look at the map below to find your next adventure!</p>
  </div>
</div>
</div>
<!--Google map-->
<div class="container col-lg-6 col-md-5 col-sm-4 offset-md-3"
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110258.2544897272!2d-97.80665617737338!3d30.277817860384232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b599a0cc032f%3A0x5d9b464bd469d57a!2sAustin%2C%20TX!5e0!3m2!1sen!2sus!4v1650821052475!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
<!--Google Maps-->
{% endblock %}