{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/{{ image }}" alt="" class="img-fluid">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h1>{{ headline }}</h1>
        <h4 id="author-name">{{ author }}</h4>
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}