.card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.card-text {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

#corn {
  height: 350px;
  object-fit: cover;
}

#sam {
  height: 350px;
  object-fit: cover;
}

#hands {
  height: 350px;
  object-fit: cover;
}

#story-title {
  margin-bottom: 25px;
}

#author-name {
  font-weight: lighter;
}

#act-card {
  border: darkgray;
  border: border;
}