.card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.card-text {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

#corn {
  height: 350px;
  object-fit: cover;
}

#story-title {
  margin-bottom: 25px;
}

#author-name {
  font-weight: lighter;
}

#act-card {
  border: darkgray;
  border: border;
}

#info {
  margin-top: 50px;
}

#info-head {
  font-size: 8rem;
}

#mount-img {
  height: 100%;
  width: 100%;
}

#title-header {
  background-color: #014421;
  background: linear-gradient(12);
}

#text-head {
  color: white;
  -webkit-text-stroke: black 1.5px;
}

#body-head {
  color: white;
}

#story-cards {
  margin-top: 25px;
}

#swim-card {
  text-align: center;
}

#active-text {
  font-weight: bold;
  text-align: center;
}

#active-title {
  text-align: center;
}
