#jumbo {
  background: url(../img/IMG_1101.JPG) center;
  background-size: cover;
  color: white;
  padding-top: 12rem;
}

#jumbo {
  margin-bottom: 25px;
}

#slogan {
  color: #ffff;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}

#manifesto {
  font-weight: light;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Raleway', sans-serif;
}